@font-face {
    font-family: 'iconfont';  /* project id 1803342 */
    src: url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.eot');
    src: url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.woff') format('woff'),
    url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1803342_pzcq85kly0i.svg#iconfont') format('svg');
}



.blog {
    background: white;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px rgba(47,79,79,.6);
    text-align: left;
}

.blog_title {
    font-size: 24px;
    font-weight: 600;
    color: #2F4F4F;
}

.blog_msg {
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px  solid gray;
    margin-bottom: 20px;
}

.blog_msg p {
    position: relative;
    padding: 10px 0px;
    width: 30%;
    text-align: center;
    color: #2F4F4F;
}

.blog_msg p span{
    font-weight: 400;
    position: absolute;
    left: 10px;
    color: rgba(0,139,139,1);
}

.blog_msg p .name_ {
    font-family: iconfont;
}
.blog_msg p .name_::before{
    content: "\e647";
}
.blog_msg p .tags_ {
    font-family: iconfont;
}
.blog_msg p .tags_::before {
    content: "\e63d";
}
.blog_msg p .ctime_ {
    font-family: iconfont;
}
.blog_msg p .ctime_::before {
    content: "\e618";
}
.blog_msg p .views_ {
    font-family: iconfont;
}
.blog_msg p .views_::before {
    content: "\e633";
}


.blog_content {
    padding: 0px 10px 20px 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}

.send_comment {
    background: #f5f5f5;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px #888888;
    text-align: left;
    margin-top: 50px;
}

.send_comment input {
    width: 300px;
    height: 34px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send_comment textarea {
    width: 90%;
    height: 100px;
    border: 1px solid #cccccc;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
}

.send_comment button {
    width: 100px;
    height: 30px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send_comment button:hover {
    background: #adadad;
}


.blog_comments {
    width: 100%;
}

.blog_comments_msg {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
    color: #2F4F4F;
    font-weight: 600;
}

.blog_comment {
    width: 95%;
    background: rgba(47,79,79,.6);
    border: 2px dashed rgba(64,224,208,.5);
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: rgba(64,224,208,.5);
    text-align: left;
    border-radius: 5px;
}

.blog_comment span {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.blog_comment span a {
    color: #1e2936;
    font-weight: 600;
}

.blog_comment span b {
    color: 	#DAA520;
    font-weight: 600;
}

.blog_comment div {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}