*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body{
    background-image: url("../img/bg.jpg");
    position: relative;
}

.header {
    width: 100%;
    height: 50px;
    background: #2F4F4F;
    position: absolute;
}

.header::before{
    background: #000 linear-gradient(to left, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    content: '';
    height: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.container{
    position: absolute;
    width: 1170px;
    height: 45px;
    left: calc(50% - 585px);
    top: calc(50% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title{
    display: block;
    position: absolute;
    left: 0px;
    color: #fff;
    line-height: 45px;
    margin: 0px 15px;
    font-size: 22px;
}

.menu{
    height: 45px;
    position: absolute;
    top: 0px;
    left: 130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu > li{
    height: 45px;
    width: 58px;
    color: #eeeeee;
    font-size: 14px;
    padding: 0px 5px;
    line-height: 45px;
    text-align: center;
}

.menu > li > a {
    color: #fff;
}

.header .login_bar{
    position: absolute;
    right: 300px;
    top: 0px;
    line-height: 45px;
    color: #fff;
}

.header .login_bar > a {
    padding: 0 10px;
    color: #fff;
}

.header .login_bar > a > span{
    color: #00ff00;
}

.header .search_bar{
    position: absolute;
    top: 0px;
    right: 0px;
    height: 45px;
    width: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.header .search_bar > input{
    position: absolute;
    right: 60px;
    top: calc(50% - 17px);
    height: 22px;
    padding:  5px 10px;
    border-radius: 8px;
    outline: none;
    font-size: 14px;
    border: 1px solid;
}

.header .search_bar > button{
    position: absolute;
    right: 0px;
    top: calc(50% - 17px);
    width: 54px;
    height: 34px;
    padding: 5px 10px;
    border-radius: 8px;
    outline: none;
    color: #555;
    background: #fff;
}



.content{
    display: block;
    position: absolute;
    top: 80px;
    width: 100%;
    height: 700px;
}
.menu{
    height: 45px;
}
.red {
    color: red;
}
.blue {
    color: blue;
}
.content #chat {
    position: relative;
    width: 450px;
    height: 700px;
    margin: 0px auto 0px auto;
    border: 2px solid #00c1de;
}
#chat .name {
    position: absolute;
    top: 0px;
    background: #2F4F4F;
    width: 100%;
    height: 50px;
    font-size: 0px;
}
#chat .name span {
    position: absolute;
    display: block;
    left: 0px;
    top: 5px;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 0px;
    padding: 0px 0px 0px 30px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}
#chat .name input {
    position: absolute;
    display: block;
    left: 90px;
    top: 5px;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 5px;
    border: 1px solid black;
    outline: medium;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
}
#sendMsg {
    position: absolute;
    width: 80%;
    height: 40px;
    border: 1px solid #2F4F4F;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    border-radius: 5px;
    padding: 0px 0px 0px 10px;
    font-size: 16px;
}
#chat ul {
    position: absolute;
    top: 40px;
    width: 100%;
    height: 570px;
    margin: 10px 0px 0px 0px;
    overflow-Y: scroll;
}
#chat ul li {
    list-style: none;
    background-color: #3CB371;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 10px 0px 0px 20px;
}

@keyframes run{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: -2400px 0;
    }
}

.horse {
    position: absolute;
    top: 650px;
    width: 200px;
    height: 100px;
    background-image: url(../img/horse.png);
    background-position: 0 0;
    animation: run 1s steps(12, end) infinite;
}