
* {
    padding: 0;
    margin: 0;
}

html, body,.wrapper {
    height: 100%;
    background-color: #eee;
    position: relative;
}
button {
    cursor: pointer;
}
.wrapper .header {
    height: 70px;
    width: 100%;
    line-height: 70px;
    background: #00c1de;
    position: absolute;
    z-index: 100;
    text-align: center;
    line-height: 70px;
    top: 0;
    left: 0;
}
.wrapper .header span{
    font-size: 30px;
    font-weight: 800;
    color: #2F4F4F;
}
.left-menu {
    width: 200px;
    background-color: #2F4F4F;
    height: calc(100vh - 70px);
    position: absolute;
    top: 70px;
    left: 0px;
    box-sizing: border-box;
}
.left-menu dl {
    font-size: 14px;
    color: #b3bcc5;
}
.left-menu dl dt {
    font-weight: bold;
    padding: 10px;
}
.left-menu dl dd {
    height: 40px;
    line-height: 40px;
    padding-left: 30px;
    cursor: pointer;
}
.left-menu dl dd.active {
    background-color: #00c1de;
    color: 	#F0FFF0;
}
.right-content {
    min-width: 800px;
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
    position:absolute;
    left: 200px;
    top: 70px;
}
.right-content .add-user {
    display: none;
}
.right-content form {
    width: 400px;
    margin: 50px auto;

}
.right-content form label {
    display: inline-block;
    width: 150px;
    text-align: right;
    font-size: 16px;
}
.right-content form input {
    font-size: 16px;
}
.right-content form div {
    margin: 10px;
}
.right-content form .btn {
    padding: 5px 30px;
    font-size: 16px;
}
.right-content .user-list {
    display: none;
}
.user-list .search-bar {
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    font-size: 16px;
}
.search-bar label {
    font-size: 16px;
    color: #646987;
    font-weight: 800;
}
.search-bar  input {
    font-size: 16px;
    border: none;
    outline: none;
    height: 30px;
    width: 200px;
    color: #b3bcc5;
}
.search-bar .search-submit {
    padding: 0 10px;
    height: 30px;
    background-color: #354457;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
}
.search-submit:hover {
    background: #1e2936;
}
table {
    width: 100%;
    font-size: 14px;
    color: #354457;
    min-width: 800px;
}
table thead {
    background-color: #e3e8ee;
}
table th, table td {
    text-align: center;
    padding: 10px;
}
table th {
    color: #646987;
}
table tbody {
    background-color: #fff;
}
table .btn {
    padding: 3px 10px;
    border: none;
    outline: none;
    color: #fff;
    cursor: pointer;
}
table .btn.edit {
    background-color: #5cb85c;
}
table .btn.edit:hover {
    background-color: #398439;
    border-color: #255625;
}
table .btn.del {
    background-color: #d9534f;
}
table .btn.del:hover {
    background-color: #c9302c;
}
#turn-page {
    float: right;
    margin: 20px;
}
#turn-page li {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid #ddd;
    color: #b3bcc5;
    font-size: 14px;
    cursor: pointer;
}
#turn-page li.cur-page {
    background-color: #428bca;
    border: 1px solid #428bca;
    color: #fff;
}

.right-content .content {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100vw - 200px);
    height: calc(100vh - 70px);
}