<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soul社交</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/about.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/axios.js"></script>

</head>
<body>
<header class="header">
    <div class="container">
        <a href="/index.html" class="title">Soul社交</a>
        <ul class="menu">
            <li><a href="/index.html">首页</a></li>
            <li><a href="/sitemap.html">地图</a></li>
            <li><a href="/about.html">关于</a></li>
            <li><a href="/guestbook.html">留言</a></li>
            <li><a href="/chat.html">聊天室</a></li>
            <li><a href="/api/chatBot.html">机器人</a></li>
        </ul>
        <div class="login_bar">
            <a href="/about.html" class="login">用户：<span id="curUserName">马大哈</span></a>
            |
            <a href="/login.html" class="register">注销</a>
        </div>
        <div class="search_bar">
            <input type="text" placeholder="输入关键词查找">
            <button>搜索</button>
        </div>
    </div>
</header>

<div class="content">
    <div class="content_left">
        <div class="description" id="about_me">
            <div class="about_title">关于我</div>
            <p><span>昵称:</span>{{ person.name }}</p>
            <p><span>性别:</span>{{ person.sex ? "男" : "女" }}</p>
            <p><span>绑定电话:</span>{{ person.phone }}</p>
            <p><span>邮箱:</span>{{ person.email }}</p>
            <p><span>所在地:</span>{{ person.address }}</p>
            <p><span>个性签名:</span>{{ person.description }}</p>
            <p @click="showD" class="changeusermsg">修改信息</p>
            <div v-if="showDiong" id="changeDiong">
                <span id="close" @click="fadeD()">X</span>
                <p>
                    <input type="text" placeholder="更改绑定邮箱" v-model="change_email">
                </p>
                <p>
                    <input type="text" placeholder="更改住址" v-model="change_address">
                </p>
                <p>
                    <input type="text" placeholder="更改个性签名" v-model="change_description">
                </p>
                <p @click="changeMsg()">提交更改</p>

            </div>
            <div class="about_title">关于动态</div>
            <p class="blog_left">多浏览动态</p>
            <p class="blog_left">多评论</p>
            <p class="blog_left">多留言</p>
            <p class="sendBlog"><a href="./edit_blog.html">发布动态</a></p>
            <div class="about_title">关注&粉丝</div>
            <div class="careAndFans">
                <div class="care">
                    <span>我的关注:</span>
                    <p v-for="care in careList">{{ care.carer }}</p>
                </div>
                <div class="fans">
                    <span>我的粉丝:</span>
                    <p v-for="fans in fansList">{{ fans.fans }}</p>
                </div>
            </div>
        </div>
        <div class="blog_comments" id="blog_comments">
            <span class="blog_comments_msg">当前文章：{{total}} 条留言</span>
            <div class="blog_comment" v-for="comment in comments">
                <span><b>{{comment.user_name}}</b>：{{comment.options}} 发表于 {{comment.ctime}} <a style="cursor: pointer" v-on:click="reply(comment.id, comment.user_name)">[回复]</a></span>
                <div>{{comment.comments}}</div>
            </div>
        </div>

        <div class="send_comment" id="send_comment">
            <span>给他/她留言</span>
            <div>
                <input type="hidden" id="comment_reply" value="-1">
                <input type="hidden" id="comment_reply_name" value="0">
                <input type="text" placeholder="昵称" id="comment_name">
                <input type="text" placeholder="邮箱（评论被回复时你能收到通知）" id="comment_email">
            </div>
            <div>
                <textarea placeholder="无意义的内容我可能不会回复你" id="comment_content"></textarea>
            </div>
            <div>
                <input type="text" placeholder="验证码" id="comment_code">
                <span v-html="vcode" v-on:click="changeCode()"></span>
            </div>
            <button v-on:click="sendComment()">提交评论</button>
        </div>
    </div>
    <div class="content_right">
        <div class="right_module" id="random_tags">
            <div>随机标签云</div>
            <a :href="tag.link" v-for="tag in tags" :style="{ color:randomColor(), fontSize:randomSize() }">{{ tag.text }}</a>
        </div>
        <div class="right_module" id="new_hot">
            <div>最近热门</div>
            <ul>
                <li v-for="temp in titleList">
                    <a :href="temp.link">{{ temp.title }}</a>
                </li>
            </ul>
        </div>
        <div class="right_module" id="new_comments">
            <div>最新评论</div>
            <ul>
                <li v-for="comment in commentList">
                    <div>
                        <span>{{ comment.name }}</span>
                        <span class="pull_right">{{ new Date(comment.date).getFullYear() }}年{{ new Date(comment.date).getMonth() + 1 }}月{{ new Date(comment.date).getDate() }}日{{ new Date(comment.date).getHours() + 1}}时{{ new Date(comment.date).getMinutes() }}分 </span>
                    </div>
                    <p>{{ comment.comment }}</p>
                </li>
            </ul>
        </div>
        <div class="right_module">
            <div>友情链接</div>
            <span><a href="/">挨踢茶馆</a></span>
            <span><a href="/">百度百科</a></span>
            <span><a href="/">思否论坛</a></span>
            <span><a href="/">维基百科</a></span>
            <span><a href="/">中国知网</a></span>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="content">
        <div class="wx_box">
            <img src="./img/wx.jpg" alt="">
            <span>我的微信</span>
        </div>
        <div class="statement">
            <p>
                <b>网站声明：</b>
            </p>
            <p>1、本站为易林贵毕业设计所用，个人可以使用，但是未经许可不得用于任何商业目的。</p>
            <p>2、所有文章未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：1532998154@qq.com</p>
            <p>Copyright © www.ylg.com All Rights Reserved. 备案号：豫ICP备11232373号-1</p>
        </div>
    </div>
</footer>
<script src="./js/about.js"></script>
<script src="./js/base.js"></script>

</body>
</html>