<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/userManage.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/axios.js"></script>
</head>

<body>
<div class="wrapper" id="app">
    <div class="header">
        <span>后台用户管理</span>
    </div>
    <div class="left-menu">
        <dl>
            <dt>用户管理</dt>
            <dd @click="changeToList()">用户列表</dd>
            <dd @click="changeToAdd()">添加用户</dd>
        </dl>
    </div>
    <div class="right-content">
        <div v-if="show" class="content">
            <table border="0" >
                <thead>
                <tr>
                    <th>昵称</th>
                    <th>性别</th>
                    <th>电话</th>
                    <th>邮箱</th>
                    <th>地址</th>
                    <th>个性签名</th>
                    <th>编辑/删除</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="(item, index) in dataList" v-bind:key="item.id">
                    <td>{{ item.name }}</td>
                    <td>{{ item.sex ? "男" : "女" }}</td>
                    <td>{{ item.phone }}</td>
                    <td>{{ item.email }}</td>
                    <td>{{ item.address }}</td>
                    <td>{{ item.description }}</td>
                    <td>
                        <button @click="removeThis(index, item.id)" class="btn del">删除</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div v-if="!show" class="content">
            <form id="addUserForm">
                <div>
                    <label for="name">昵称</label>
                    <input v-model="name" type="text" name="name">
                </div>
                <div class="sex">
                    <label for="sex">性别</label>
                    <input v-model="sex" type="radio" name="sex" value="0" checked>
                    <span>男</span>
                    <input v-model="sex" type="radio" name="sex" value="1">
                    <span>女</span>
                </div>
                <div>
                    <label for="phone">电话</label>
                    <input v-model="phone" type="text" name="phone">
                </div>
                <div>
                    <label for="email">邮箱</label>
                    <input v-model="email" type="text" name="email">
                </div>
                <div>
                    <label for="password">密码</label>
                    <input v-model="password" type="text" name="password">
                </div>
                <div>
                    <label for="address">住址</label>
                    <input v-model="address" type="text" name="address">
                </div>
                <div>
                    <label for="description">个性签名</label>
                    <input v-model="description" type="text" name="description">
                </div>
                <div>
                    <label for=""></label>
                    <input v-on:click="sendUser()" type="submit" class="btn" id="add-submit" value="提交">
                    <input type="reset" class="btn" value="重置">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/userManage.js"></script>

</body>

</html>